.m-list .m-gridstitle:after {
  width: 0;
}
.list-theme4 {
  background: none;
  padding: 0;
}
.m-list {
  margin-top: .1rem;
}
.m-list:last-child {
  margin-top: 0;
}
.list-theme4 .list-item {
  padding: .2rem;
  background: #fff;
  margin-bottom: .1rem;
}
.list-theme4 .list-item:not(:last-child):after {
  width: 0;
}
.list-theme4 .list-item .list-img {
  width: 1.8rem;
  padding: .9rem 0;
}
.list-theme4 .list-item .list-mes .list-mes-item {
  padding-top: 0;
  margin-top: .3rem;
}
.list-theme4 .list-item .list-mes .list-title {
  -webkit-line-clamp: 2;
}
.list-theme4 .list-item .list-price {
  font-size: .36rem;
  color: #3199ff;
}
