.m-navbar {
  position: relative;
  z-index: 2;
}
.m-navbar .navbar-item {
  min-width: 15%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
}
.m-navbar .navbar-center {
  width: 80%;
}
.m-navbar .flase-form {
  height: .6rem;
  width: 100%;
  padding: 0 .1rem;
  border-radius: .6rem;
  line-height: .6rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.m-navbar .flase-form .cell-input {
  line-height: .6rem;
}
.search {
  position: relative;
}
.search .m-icon {
  margin-top: -3px;
  vertical-align: middle;
}
.m-list.list-theme4 {
  padding: 0;
}
.m-list.list-theme4 .list-item {
  margin-top: .12rem;
  background: #fff;
  padding-left: .24rem;
  padding-right: .24rem;
}
.m-list.list-theme4 .list-img {
  width: 1.6rem;
  padding: .8rem 0;
}
.m-list.list-theme4 .list-mes .list-title {
  -webkit-line-clamp: 2;
}
.arrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 66%;
  border-right: 5px solid transparent;
  border-top: 5px solid #808080;
  border-left: 5px solid transparent;
}
.sort-tab {
  height: .88rem;
}
.sort-tab li {
  width: 100%;
  text-align: center;
  font-size: .32rem;
  line-height: .88rem;
  position: relative;
}
.sort-tab li.all .arrow {
  top: 50%;
}
.sort-tab li.price .arrow {
  top: 40%;
}
.sort-tab li.price .arrow:last-child {
  top: 55%;
}
.sort-tab li.active {
  color: #3199ff;
}
.sort-tab li.active .arrow {
  border-top-color: #3199ff;
}
.filter-bar {
  background: #fff;
  border-bottom: solid 1px #ccc;
  width: 100%;
  z-index: 100;
  position: relative;
}
.droplist {
  position: absolute;
  top: .88rem;
  width: 100%;
}
