.list-theme4 .list-item .list-img {
  width: 1rem;
  padding: .5rem 0;
}
.bg-message {
  background: url(../img/message.png) no-repeat scroll center center / 100%;
}
.bg-track {
  background: url(../img/track.png) no-repeat scroll center center / 100%;
}
.bg-money {
  background: url(../img/money.png) no-repeat scroll center center / 100%;
}
